<%- include('partials/header'); %>
<%- include('partials/navbar'); %>

<div class="d-flex flex-column flex-grow-1 flex-wrap container-fluid px-0">
  <div id="expand-sidebar" class="d-md-none" data-expanded="false">
    <i id="expand-sidebar-icon" class="fas fa-chevron-right fa-2x"></i>
  </div>
  <div class="d-flex flex-grow-1 flex-wrap">
    <main id="main" class="col-12">
      <h1>Edit Profile</h1>
      <hr>
      <form action="/account" method="POST" enctype="multipart/form-data">
        <div class="container">
          <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <p class="avatar">
                  <img src="<%= locals.user.photoURL %>" id="output" class="avatar img-circle">
                </p>
              <div class="text-center">
                <input type="file" name="avatar" class="form-control" onchange="loadFile(event)">
              </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
              <h3>Personal info</h3>
              
            <% if (locals.errors && locals.errors.profile) { %>
              <% locals.errors.profile.forEach(function(error) { %>
                <p class="alert alert-primary" role="alert"><%= error %></p>
              <% }) %>
            <% } %>

              <div class="form-group row">
                <label class="col-md-4 control-label">Username:</label>
                <div class="col-md-8">
                  <input class="form-control" name="displayName" type="text" value="<%= locals.user.displayName %>">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label">Email:</label>
                <div class="col-md-8">
                  <input class="form-control" name="email" type="text" value="<%= locals.user.email %>">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-8">
                  <button class="btn btn-primary mb-5" type="submit">Update</button>
                </div>
              </div>
            </div>
          </div>
      </form>
      <form action="/password" method="post">
        <div class="container">
          <div class="row">
            <div class="col-md-9 offset-md-3">

              <!-- left column -->
              <div class="form-group row">
                <label class="col-md-4 control-label">Password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password" name="password" value="">
                  <small id="passwordHelpInline" class="text-muted">
                    Must be over 6 characters long.
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 control-label">Confirm password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password" name="passwordConfirm" value="">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-8">
                  <button class="btn btn-primary" type="submit">Update Password</button>
                </div>
                <% if (locals.errors && locals.errors.password) { %>
                  <% locals.errors.password.forEach(function(error) { %>
                    <p class="alert alert-primary" role="alert"><%= error %></p>
                  <% }) %>
                <% } %>
              </div>
            </div>
          </div>
      </form>
    </main>
  </div>
</div>
<%- include('partials/footer'); %>